<div class="editor-container">
  <AuHeading
    @level="4"
    @skin="4"
  >
    endpoint: 
    <input 
      class="editor-input" 
      type="text"
      value={{@endpoint}}
      {{on 'change' @setEndpoint}} 
    />
  </AuHeading><br>
  <YasguiIntegration as |Yasgui|>
    <Yasgui.editor @endpoint={{@endpoint}} />
    <Yasgui.results />
  </YasguiIntegration>
</div>