<div class="editor-container">
  <AuHeading @level="4" @skin="4">
    Endpoint: 
    <input 
      class="editor-input" 
      type="text"
      value={{this.endpoint}}
      {{on 'change' this.setEndpoint}} 
    />
  </AuHeading><br>
  <YasguiIntegration as |Yasgui|>
    <Yasgui.editor @endpoint={{this.endpoint}} />
    <Yasgui.results />
  </YasguiIntegration>
</div>