<div class="part1-container">
  <div class="part1-exercise">
    <AuHeading @level="4" @skin="4">1. How do you check what types are defined in your endpoint?</AuHeading>
    <AuHelpText>Make sure to use DISTINCT and LIMIT the search results to prevent breaking the editor!</AuHelpText><br>
    <Editor />
  </div>

  <div class="part1-hints">
    <Exercise::Hint @title="Hint"  @modalTitle="Hint">
      You can use <AuPill>rdf:type</AuPill> to call out the types.
    </Exercise::Hint>
  </div>
</div>