<div class="part1-container">
  <div class="part1-exercise">
    <AuHeading @level="4" @skin="4">1. How do you check what types are defined in your endpoint?</AuHeading>
    <AuHelpText>Make sure to use DISTINCT and LIMIT the search results to prevent breaking the editor!</AuHelpText><br>
    <Editor />
  </div>

  <div class="part1-hints">
    <Exercise::Hint @popup={{this.popup}} @title="Hint" @modalTitle="rdf:type">
      <p>You can use <AuPill>rdf:type</AuPill> in your query to get the types.</p>
    </Exercise::Hint>

    <Exercise::Hint @popup={{this.popup}} @title="Solution" @modalTitle="Solution">
      <CodeBlock 
        @code="  
          SELECT DISTINCT ?type
          WHERE {
              ?foo rdf:type ?type.
          }"
      />
    </Exercise::Hint>
  </div>
</div>