<div class="part1-container">
  <div class="part1-exercise">
    <AuHeading @level="4" @skin="4">1. How do you check what types are defined in your endpoint?</AuHeading>
    <AuHelpText>
      Make sure to use <AuPill>DISTINCT</AuPill> and <AuPill>LIMIT</AuPill> to prevent the editor from breaking!
    </AuHelpText><br>
    <Editor />
  </div>

  <div class="part1-hints">
    <Exercise::Hint @popup={{this.popup}} @title="Hint" @modalTitle="rdf:type">
      <p>You can use <AuPill>rdf:type</AuPill> in your query to get the types.</p>
    </Exercise::Hint>

    <AuButton {{on "click" (fn this.showSnippet true)}}>Solution</AuButton>
    <div class="codeblock {{if this.isOpen "is-visible"}}">
      <CodeBlock
        @code="
          PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>

          SELECT DISTINCT ?type
          WHERE {
              ?foo rdf:type ?type.
          } LIMIT 10"
      />
    </div>
  </div>
</div>