{{page-title "Exercise 1"}}
<Part1::ExerciseOne />
<div class="exercise-links part1-1">
  <AuLink 
    @LinkRoute="hands-on.part1.exercise2" 
    @icon="nav-right"
    @iconAlignment="right"
  >
    Exercise Part 1 - 2
  </AuLink>
</div>