<div class="au-c-sidebar">
  <div class="au-c-sidebar__content">
    <nav>
      <ul class="au-c-list-navigation">
        <li class="au-c-list-navigation__item au-c-list-navigation__item--section">
          <h2 class="au-c-list-navigation__section-title">Intro</h2>
          <ul class="au-c-list-navigation">
            <li class="au-c-list-navigation__item">
              <AuNavigationLink>
                <LinkTo @route="types">Query Types</LinkTo>
              </AuNavigationLink>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>